RewriteEngine on
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{REQUEST_URI} !^/admin/ [NC]
RewriteCond %{REQUEST_URI} !^/(.*)/ [NC]
RewriteCond %{REQUEST_URI} !^/(.*)\. [NC]
RewriteCond %{HTTP_HOST}<>%{REQUEST_URI} ^([^.]+)\.mymobimanager\.com(:80)?<>/([^/]*) [NC]
RewriteRule ^(.*)$ page.php?u=%1&p=%{QUERY_STRING} [L]
# BEGIN WordPress

# END WordPress
